<div class="container">
    <div class="row p-2">
        <div class="col-md-4 p-2">
            <%= image_tag "01.jpg", class:"img-fluid g-img" %>
        </div>
        <div class="col-md-4 p-2">
            <%= image_tag "02.jpg", class:"img-fluid g-img" %>
        </div>
        <div class="col-md-4 p-2">
            <%= image_tag "03.jpg", class:"img-fluid g-img" %>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-md-4 p-2">
            <%= image_tag "04.jpg", class:"img-fluid g-img" %>
        </div>
        <div class="col-md-4 p-2">
            <%= image_tag "05.jpg", class:"img-fluid g-img" %>
        </div>
        <div class="col-md-4 p-2">
            <%= image_tag "06.jpg", class:"img-fluid g-img" %>
        </div>
    </div>
     <div class="row p-2">
        <div class="col-md-4 p-2">
            <%= image_tag "07.jpg", class:"img-fluid g-img" %>
        </div>
        <div class="col-md-4 p-2">
            <%= image_tag "08.jpg", class:"img-fluid g-img" %>
        </div>
        <div class="col-md-4 p-2">
            <%= image_tag "16.jpg", class:"img-fluid g-img" %>
        </div>
    </div>
     <div class="row p-2">
        <div class="col-md-4 p-2">
            <%= image_tag "10.jpg", class:"img-fluid g-img" %>
        </div>
        <div class="col-md-4 p-2">
            <%= image_tag "11.jpg", class:"img-fluid g-img" %>
        </div>
        <div class="col-md-4 p-2">
            <%= image_tag "12.jpg", class:"img-fluid g-img" %>
        </div>
    </div>
         <div class="row p-2">
        <div class="col-md-4 p-2">
            <%= image_tag "13.jpg", class:"img-fluid g-img" %>
        </div>
        <div class="col-md-4 p-2">
            <%= image_tag "14.jpg", class:"img-fluid g-img" %>
        </div>
        <div class="col-md-4 p-2">
            <%= image_tag "15.jpg", class:"img-fluid g-img" %>
        </div>
    </div>
</div>