
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="p-32">
  <form>
    <div class="space-y-12 dark:">
      <div class="border-b border-gray-900/10 pb-12">
        <h2 class="text-base font-semibold leading-7 text-gray-900">Profile</h2>
        <p class="mt-1 text-sm leading-6 text-gray-600">Edit your profile's Information</p>

        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-4">
            <label for="username" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Username</label>
            <div class="mt-2">
              <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                  <%= f.text_field :username, autocomplete: "name", class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
              </div>
            </div>
          </div>

          <div class="col-span-full">
            <label for="photo" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Avatar</label>
            <div class="mt-2 flex items-center gap-x-3">
            <%if current_coach.present?%>
              <%= image_tag(current_coach.avatar_thumbnail ,class:"w-12 mr-4 rounded-full") if current_coach.avatar_thumbnail %>
              <%= f.file_field :avatar, class: "avatar-btn" %>
            <%else%>
              <%= image_tag(current_user.avatar_thumbnail ,class:"w-12 mr-4 rounded-full") if current_user.avatar_thumbnail%>
              <%= f.file_field :avatar, class: "avatar-btn" %>
            <%end%>
            </div>
          </div>

          
        </div>
      </div>

      <div class="border-b border-gray-900/10 pb-12">
        <h2 class="text-base font-semibold leading-7 text-gray-900 dark:text-white">Personal Information</h2>
        <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-white">Use a permanent address where you can receive mail.</p>

        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-2">
            <label for="email" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Email address</label>
            <div class="mt-2">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>
          <div class="sm:col-span-2 sm:col-start-1">
            <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">First name</label>
            <div class="mt-2">
                <%= f.text_field :first_name, autocomplete: "name" , class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>

          <div class="sm:col-span-2">
            <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Last name</label>
            <div class="mt-2">
                <%= f.text_field :last_name, autocomplete: "name" , class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>
           <div class="col-span-2 sm:col-start-1">
            <label for="street-address" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Phone Number</label>
            <div class="mt-2">
                <%= f.text_field :phone, autocomplete: "tel", class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>

          <div class="col-span-2 sm:col-start-1">
            <label for="street-address" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Street address</label>
            <div class="mt-2">
                <%= f.text_field :address, autocomplete: "street-address", class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>

          <div class="sm:col-span-2">
            <label for="city" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">City</label>
            <div class="mt-2">
                <%= f.text_field :city, autocomplete: "street-address", class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>
        </div>
      </div>

      <div class="border-b border-gray-900/10 pb-12">
        <h2 class="text-base font-semibold leading-7 text-gray-900 dark:text-white">Confirm changes</h2>
        <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-white">we need your current password to confirm your changes</p>
         <div class="mt-2">
              <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                  <%= f.password_field :current_password, autocomplete: "current-password", class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
              </div>
            </div>
      </div>
    </div>

    <div class="mt-6 flex items-center justify-end gap-x-6">
      <%= link_to "Cancel", :back, class:"text-sm font-semibold leading-6 text-gray-900 dark:text-white" %>
      <%= f.submit "Save", class:"rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    </div>
  </form>
</div>
<% end %>

<div>
<% button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
</div>


<script>
  <% if resource.errors.any? %>
    // SweetAlert error message
    swal({
      title: "Error",
      text: "<%= j(resource.errors.full_messages.join('<br>')) %>",
      icon: "error",
      html: true
    });
  <% end %>

  Swal.fire(
  'The Internet?',
  'That thing is still around?',
  'question'
)

</script>