<style>
 input:checked {
    background-color: #22c55e; /* bg-green-500 */
  }

  input:checked ~ span:last-child {
    --tw-translate-x: 1.75rem; /* translate-x-7 */
  }

  .back-profile{
    background: url('<%= asset_path('athlete-banner.jpg') %>');
    background-position-y: 50%;
    min-height:250px;
    background-size: cover;
    background-repeat: no-repeat;
   background-attachment: fixed;
  }

  .training-cover{
   max-height: 250px;
   background-size: cover;
   width:auto;
  }

  .max-avatar{
   max-height: 80px;
   width:auto;

  }

</style>


<div class="back-profile">
</div>

<div class="relative flex flex-col flex-auto min-w-0 p-4 mx-6 -mt-16 overflow-hidden break-words border-0 shadow-blur rounded-2xl /80 bg-clip-border backdrop-blur-2xl backdrop-saturate-200">
   <div class="flex flex-wrap -mx-3">
      <div class="flex-none w-auto max-w-full ">
         <div class="text-base ease-soft-in-out h-18.5 w-18.5 relative inline-flex items-center justify-center rounded-xl text-white transition-all duration-200">
            <%= image_tag (current_user.avatar_thumbnail) , class:"w-full shadow-soft-sm rounded-xl max-avatar"%>
         </div>
          <div class="flex items-center mt-2.5 mb-5">
                            <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                            </svg>
                            <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                            </svg>
                            <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                            </svg>
                            <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                            </svg>
                            <svg class="w-4 h-4 text-gray-200 dark:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                            </svg>
                            <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3">5.0</span>
          </div>
      </div>
      <div class="flex-none w-auto max-w-full  my-auto pb-5">
         <div class="w-full">
            <h5 class="mb-1 font-bold"><%=current_user.full_name %></h5>
            <p class="mb-0 font-semibold leading-normal text-sm">
               <%= if current_user.age.present?
                  current_user.age
                  else
                  "Age not specified"
                  end

               %>
            </p>
         </div>
      </div>
      <div class="flex-col px-3 mx-auto   max-w-full" >
            <ul class="flex flex-col pl-0 mb-0 rounded-lg">
                  <li class="relative block py-2 pl-0 leading-normal  border-0 border-t-0 text-sm text-inherit"><strong class="text-slate-700">Email:</strong> &nbsp; <%=current_user.email%></li>
                  <li class="relative block py-2 pl-0 leading-normal  border-0 border-t-0 text-sm text-inherit"><strong class="text-slate-700">Mobile:</strong> &nbsp; <%=current_user.phone%></li>
                  <li class="relative block py-2 pl-0 leading-normal  border-0 border-t-0 text-sm text-inherit"><strong class="text-slate-700">Address:</strong> &nbsp; <%=current_user.full_address%></li>
                  <li class="relative block py-2 pl-0 leading-normal  border-0 border-t-0 text-sm text-inherit"><strong class="text-slate-700">School Name:</strong> &nbsp; <%=current_user.full_address%></li>
            </ul>
      </div>
      <div class="flex-col px-3 mx-auto   max-w-full">
            <ul class="flex flex-col pl-0 mb-0 rounded-lg">
                  <li class="relative block py-2 pl-0 leading-normal  border-0 border-t-0 text-sm text-inherit"><strong class="text-slate-700">Weight:</strong> &nbsp; <%=current_user.email%></li>
                  <li class="relative block py-2 pl-0 leading-normal  border-0 border-t-0 text-sm text-inherit"><strong class="text-slate-700">Height:</strong> &nbsp; <%=current_user.phone%></li>
                  <li class="relative block py-2 pl-0 leading-normal  border-0 border-t-0 text-sm text-inherit"><strong class="text-slate-700">Power Of Ten:</strong> &nbsp; <%=current_user.full_address%></li>
                  <li class="relative block py-2 pl-0 leading-normal  border-0 border-t-0 text-sm text-inherit"><strong class="text-slate-700">Level:</strong> &nbsp; <%=current_user.full_address%></li>
            </ul>
      </div>
   </div>
</div>
