<div class="container">
    <h1 class="py-5 text-center">GROUPS</h1>
    <div class="row p-3 mt-5">
        <p class="lead text-white">Dwain delivers small/large group sessions on a regular basis. Sessions are of a high intensity, low impact nature. This approach allows individuals of all abilities to get involved and workout at a level that is suitable for them. Sessions will involve a variety of sprint/interval runs, dynamic strength, flexibility and core routines. This combination will result in a full body workout.</p>
        <br/>
    </div>
    <div class="row p-3 mt-5">
     <p class="text-white">
            Speed might be the single most important skill to develop for many sporting athletes. Players are required to be constantly moving but most of their explosive running is over short distances (5-10 yards) with a requirement to manoeuvre themselves in multiple directions. Having the ability to recruit the required muscles to produce explosive speed within the first 3 steps will make the difference between getting to where you need to be or not.
        </p>
    </div>
    <div class="row  p-3 mt-5 ">
        <div class="col-md-6">
            <h3>Sessions include:</h3>
            <ul class="mt-2 g-list">
             <li>Technical correction (improvement of running technique)</li>
             <li>Mental resilience testing (how to overcome obstacles both on and off the field)</li>
             <li>Agility testing (timed exercise – focus on consistency)</li>
             <li>Linear speed testing (timing gates – over 5, 10, and 15 yards)</li>
             <li>Sport related coordinated drills (ability to manoeuvre in multiple directions)</li>
             <li>Speed and agility with the ball if appropriate</li>
             <li>Use of the latest technology to fast track results.  By getting accurate and reliable data around current levels of performance, training can be tailored</li>
            </ul>
            <button class="btn">More info </button>
        </div>
        <div class="col-md-6 d-flex align-items-end">
        </div>
    </div>
    <div class="row  p-3 mt-5 ">
        <div class="col-sm">
            <%= image_tag ("output-logo.png") %>
            <%= image_tag ("freelap-logo.jpg") %>
            <div class="row">
                <p class="lead mt-2 ml-2 text-white">Output has 150+ measurements – modules include:</p>
                <div class="col-sm">
                    <ul class="mt-2 ">
                        <li>Agility </li>
                        <li> Balance</li>
                        <li> Power</li>
                    </ul>
                </div>
                <div class="col-sm">
                <ul class="mt-2">
                        <li>Speed </li>
                        <li> Stability</li>
                        <li> Strength</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm d-flex justify-content-between p-1">
            <%= image_tag ("Picture1.png") %>
            <%= image_tag ("Picture2.png") %>
            <%= image_tag ("Picture3.png") %>
        </div>
    </div>
    <div class="row  p-3 mt-5 ">
        <h3>Benefits:</h3>
        <p class="mt-2 p-5 lead text-white">
        Highlight areas of improvement
        Game scenario and replication of similar intensity sessions
        Mental and physical challenges
        Enough exposure to this level of intensity the player(s) will be equipped to perform at this level and above on a consistent basis
        </p>
    </div>
    <hr/>
    <div class="row  p-3 mt-5 ">
        <%= image_tag ("groups5.jpg") %>
    </div>
</div>