
<div class="p-10">
<%= form_with(model: @training_session, data: { turbolinks: false }) do |form| %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 text-gray-500 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

   <div class="col-span-full">
          <label for="cover-photo" class="block text-sm font-medium leading-6 text-gray-900">Cover photo</label>
          <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
            <div class="text-center">
              <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" />
              </svg>
              <div class="mt-4 flex text-sm leading-6 text-gray-600">
                <label for="file-upload" class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                    <%= form.file_field :image %>
                </label>
              </div>
              <p class="text-xs leading-5 text-gray-600">PNG, JPG, GIF up to 10MB</p>
            </div>
          </div>
        </div>

  <div class="my-5">
    <%= form.hidden_field :coach_id, value: current_coach.id %>
  </div>


<div class="row">
  <div class="my-5">
    <%= form.label :sets %>
    <%= form.number_field :sets, class: "block shadow rounded-md border border-gray-200 text-gray-500 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :reps %>
    <%= form.number_field :reps, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
</div>

  <div class="my-5">
    <%= form.label :distance %>
    <%= form.text_field :distance, class: "block shadow rounded-md border border-gray-200  text-gray-500 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :duration %>
    <%= form.text_field :duration, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :recovery %>
    <%= form.text_field :recovery, class: "block shadow rounded-md border border-gray-200 text-gray-500 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :training_type %>
    <%= form.text_field :training_type, class: "block shadow rounded-md border border-gray-200 text-gray-500 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :day %>
    <%= form.text_field :day, class: "block shadow rounded-md border border-gray-200 text-gray-500 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :rpe %>
    <%= form.text_field :rpe, class: "block shadow rounded-md border border-gray-200 text-gray-500 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :initiation %>
    <%= form.text_field :initiation, class: "block shadow rounded-md border border-gray-200  text-gray-500 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :footwear %>
    <%= form.text_field :footwear, class: "block shadow rounded-md border border-gray-200  text-gray-500 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :surface %>
    <%= form.text_field :surface, class: "block shadow rounded-md border border-gray-200 text-gray-500 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :extra_info %>
    <%= form.text_field :extra_info, class: "block shadow rounded-md border border-gray-200 text-gray-500 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :pacing_times %>
    <%= form.text_field :pacing_times, class: "block shadow rounded-md border border-gray-200 text-gray-500 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :media %>
    <%= form.text_field :media, class: "block shadow rounded-md border border-gray-200 text-gray-500 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= text_area_tag :description, "write a description...", class: "tinymce" %>
  </div>

      
  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>

<% end %>

</div>

<script>
$(document).ready(function() {
  tinymce.init({
    // TinyMCE initialization options
  });
});

function Popup() {
  <% if training_session.errors.any? %>
    // Create an empty array to store the error messages
    var errorMessages = [];

    <% training_session.errors.each do |error| %>
      errorMessages.push("<%= j(error.full_message) %>");
    <% end %>

    // Function to display SweetAlert popup with error messages
    function showErrorPopup() {
      swal({
        title: "<%= pluralize(training_session.errors.count, 'error') %> prohibited this training_session from being saved:",
        text: errorMessages.join('<br>'),
        icon: "error",
        html: true
      });
    }

    // Call the showErrorPopup function after the page has loaded
    document.addEventListener("DOMContentLoaded", function() {
      showErrorPopup();
    });
  <% end %>
}





</script>