<style>

dt{
  font-size: 1.25rem;
}
dd {
  font-size: 1rem;
}

.training-cover{
  max-height:50%;
}

.ts-contrainer{
  padding:20px;
}
</style>



<div class="sm:p-7 p-4">
          <a href="/training_sessions">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 9l-3 3m0 0l3 3m-3-3h7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </a>
  <div class="items-center flex flex-row flex-wrap ts-contrainer">
            <div class="video-view ">
              <% if @training_session.media.present?%>
              <iframe width="800" height="500"
                src="<%=@training_session.media.sub('watch?v=', 'embed/')%>">
                </iframe>
                <%elsif @training_session.training_image.present?%>
                <%= image_tag @training_session.training_image, class:"training-cover" %>
                <%else%>
                <%= image_tag "video_placeholder.jpg" %>
              <%end%>
            </div>
    <div class=" gap-x-16 sm:px-6 sm:py-32 lg:max-w-7xl lg:grid-cols-2 lg:px-8">
      <h2 class="text-3xl font-bold tracking-tight sm:text-4xl mb-2"><%=@training_session.name%></h2>
        <p style="max-width:400px;margin-top:15px;">
        <%if @training_session.description.present?%>
        <%=@training_session.description.html_safe%>
        <%end%>
        </p>
      <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium ">Metrics</dt>
          <dd class="mt-2 text-sm text-gray-500">
            Sets : <%=@training_session.sets%>
          </dd>
          <dd class="mt-2 text-sm text-gray-500">
            Duration : <%=@training_session.duration%>
          </dd>
          <dd class="mt-2 text-sm text-gray-500">
            Pacing times : <%=@training_session.pacing_times%>
          </dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium ">Recovery/Effort</dt>
          <dd class="mt-2 text-sm text-gray-500">
            Recovery : <%=@training_session.recovery%>
          </dd>
          <dd class="mt-2 text-sm text-gray-500">
            Reps : <%=@training_session.reps%>
          </dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium ">Details</dt>
          <dd class="mt-2 text-sm text-gray-500">
          Footwear : <%=@training_session.footwear%>
          </dd>
          <dd class="mt-2 text-sm text-gray-500">
          Surface : <%=@training_session.surface%>
          </dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium ">Initiation/Day</dt>
          <dd class="mt-2 text-sm text-gray-500">
            Initiation : <%=@training_session.initiation%>
          </dd>
          <dd class="mt-2 text-sm text-gray-500">
          Date : <%=@training_session.day%>
          </dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium ">Extra Information</dt>
          <dd class="mt-2 text-sm text-gray-500">
            <%=@training_session.extra_info%>
          </dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium ">Created by</dt>
          <dd class="mt-2 text-sm text-gray-500">
          <%if @training_session.coach.present?%>
                   <%=@training_session.coach.email %>
                  <%end%>
                  <%if current_coach.present? && current_coach.is_admin?%>
                  <a href="/training_sessions/<%=@training_session.id%>/edit">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                      </svg>
                    </a>
                  <%end%>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>

