<style>
.drop-menu-profile{
    position: absolute;
    right: 40px;
    width: 150px;
    height: auto;
    margin-top: 200px;
    z-index: 100;
    background-color: #242424;
    color: #fff;
    border-radius: 5px;
}

.drop-menu-profile ul{
    list-style: none;
    padding: 5px;
    margin: 5px;
}

.drop-menu-profile ul li{
    padding: 5px;
}
</style>

 <% current_path = request.path %>
 
<% if current_coach %>
 <div class="h-16 lg:flex w-full border-b border-gray-200 dark:border-gray-800  px-10">
      <div class="flex h-full text-gray-600 dark:text-gray-400">
        <a href="/teams" class="cursor-pointer h-full border-b-2  inline-flex items-center mr-8  <%= request.path == "/teams" ? "border-blue-500 text-blue-500 dark:text-white dark:border-white border-b-2 " : "border-transparent" %>"">Team</a>
        <a href="#" class="cursor-pointer h-full border-b-2 border-transparent inline-flex mr-8 items-center">Students</a>
        <a href="#" class="cursor-pointer h-full border-b-2 border-transparent inline-flex items-center mr-8">Current Competitions</a>
        <a href="/coaches/edit" class="cursor-pointer h-full border-b-2  inline-flex items-center <%= request.path == "/coaches/edit" ? "border-blue-500 text-blue-500 dark:text-white dark:border-white border-b-2 " : "border-transparent" %>""">Settings</a>
      </div>
      <div class="ml-auto flex items-center space-x-7">
      <a href="/training_sessions/new">
        <button class="h-8 px-3 rounded-md shadow text-white bg-blue-500">New Training</button>
      </a>

        <div class="flex items-center">
          <span class="relative flex-shrink-0">
          <div class="w-7 h-7 rounded-full">
            <%= image_tag(current_coach.avatar_thumbnail, class:"w-12 mr-4 rounded-full")%>
          </div>
            <span class="absolute right-0 -mb-0.5 bottom-0 w-2 h-2 rounded-full bg-green-500 border border-white dark:border-gray-900"></span>
          </span>
          <span class="ml-2">
            <% if current_coach.full_name.present? %>
                <%= current_coach.full_name%>
                <% else %>
                <%= current_coach.email%>
            <% end %>
          </span>
          <button id="toggleBtn">
            <svg viewBox="0 0 24 24" class="w-4 ml-1 flex-shrink-0" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
          </button>
          <div class="drop-menu-profile hidden">
          <ul>
          <li>My Profile</li>
          <li>item2</li>
          <li>item3</li>
          <li><%= button_to "logout", destroy_coach_session_path, method: :delete, class: "h-8 px-3 rounded-md shadow text-white bg-red-500" %> </li>
          </ul>
          </div>
        </div>
      </div>
    </div>
    <% end %>

<script>

const toggle = document.getElementById('toggleBtn');

toggle.addEventListener('click', (e) => {
  const dropMenu = document.querySelector('.drop-menu-profile');
  dropMenu.classList.toggle('hidden');
});

</script>