<%
    @feedback = Feedback.new
%>

<%= form_for @feedback do |f| %>
    <%= f.hidden_field :coach_id, value: current_coach.id%>
  <div class="container">
    <label class="text-gray-900 dark:text-white">User Id</label>
    <%= f.text_field :user_id , class:"block w-full rounded-md border-0 py-1.5 pl-3 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>

    <label class="text-gray-900 dark:text-white">Comment</label>
    <%= f.text_area :comment, class:"description block w-full rounded-md border-0 py-1.5 pl-3 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", placeholder:"A rich text about the workout" %>

    <label class="text-gray-900 dark:text-white">Rating</label>
    <%= f.number_field :rating , class:"block w-full rounded-md border-0 py-1.5 pl-3 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"  %>

    <%= f.fields_for :student_performance do |sp| %>
      <label class="text-gray-900 dark:text-white">Speed</label>
      <%= sp.number_field :speed, min: 0, max: 100 , class:"block w-full rounded-md border-0 py-1.5 pl-3 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"  %>
      <label class="text-gray-900 dark:text-white">Endurance</label>
      <%= sp.number_field :endurance, min: 0, max: 100 , class:"block w-full rounded-md border-0 py-1.5 pl-3 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"  %>
      <label class="text-gray-900 dark:text-white">Technique</label>
      <%= sp.number_field :technique, min: 0, max: 100 , class:"block w-full rounded-md border-0 py-1.5 pl-3 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"  %>
      <label class="text-gray-900 dark:text-white">Consistency</label>
      <%= sp.number_field :consistency, min: 0, max: 100 , class:"block w-full rounded-md border-0 py-1.5 pl-3 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"  %>
      <label class="text-gray-900 dark:text-white">Race Strategy</label>
      <%= sp.number_field :race_strategy, min: 0, max: 100 , class:"block w-full rounded-md border-0 py-1.5 pl-3 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"  %>
      <label class="text-gray-900 dark:text-white">Mental Status</label>
      <%= sp.number_field :mental_status, min: 0, max: 100 , class:"block w-full rounded-md border-0 py-1.5 pl-3 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"  %>
      <label class="text-gray-900 dark:text-white">Physical Status</label>
      <%= sp.number_field :physical_status, min: 0, max: 100 , class:"block w-full rounded-md border-0 py-1.5 pl-3 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"  %>
    <% end %>

    </div>
    <div class="container mt-5">
        <%= f.submit  class: "confirm-btn bg-gradient-to-r from-red-500 to-red-800 text-white font-bold py-3 px-4 rounded", style: "transition: background-color 0.3s;"%>
    </div>
<% end %>

