
  <div class="pb-8 pt-24">
    <div class="container max-w-screen-xl">
      <div class="row align-items-center">
        <div class="col-12 col-lg-5 mb-10 mb-lg-0">
          <!-- Emoji -->
          <div class="display-4 mb-5 mt-n16"></div>
          <!-- Heading -->
          <h1 class="ls-tight font-bolder display-3 mb-5">
            Dwain Anthony Chambers
          </h1>
          <!-- Text -->
          <p class="lead mb-10">
            Born 5th April 1978 in Islington North London, was a British track sprinter and one of the fastest European sprinters in the history of athletics. 
            Dwain competed in the 100 metres for which he holds the fifth fastest time in British sprint history. 
            Dwain has won medals at World and European level and remains the European record holder for the 60 metres with a time of 6.42s.
          </p>
          <p class="lead mb-10">
              As a junior, Dwain was introduced to his first coach, Selwyn Philbert. He first showed athletic promise at the English Schools Championships in 1994 when he won the title in 10.64s. In 1995 he won two gold medals (100m and relay) in the European Junior Championships. Two years later he returned, retaining both gold medals and winning the 100m in 10.06s, breaking the world junior record.

              Chambers ran a 100m world junior record of 10.06s in 1997 and became the youngest ever world medallist in the event at the 1999 World Championships, taking the bronze.</p>
          <!-- Buttons -->
          <div class="mx-n2">
           
          </div>
        </div>
        <div class="col-12 col-lg-6 ms-lg-auto">
          <div class="w-xl-12/10 position-relative">
            <!-- Hidden Decorations -->
            <!-- Image -->
            <%= image_tag ("dwain-footer.jpeg"), class:"shadow-4 rounded-4 position-relative  img-fluid" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-4 pb-8">
    <div class="container max-w-screen-xl">
      <div class="row align-items-center">
        

        <p>
              Dwain’s senior career started at the age of 19 in 1998 where he continued to realise his promise. On his Olympic debut at the 2000 Sydney Olympics he was the best European performer in fourth place. He broke the 10 second-barrier twice at the 2001 World Championships.

              In 2004 Chambers career was brought to an abrupt halt after testing positive for the illegal steroid THG – he was banned for two years from his sport (backdated to 2003) and received a lifetime Olympic ban.</p>
          <p>
              Dwain was left disappointed, and he apologised to the international arena. He became more determined than ever to impress again on the track and simultaneously develop his career as a coach and fitness professional. He has since become a successful coach and fitness professional, and has been working with the British Olympic Association and the British Athletics Federation.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 p-2">
        <%= image_tag "Dwain01.jpg", class:"img-fluid" %>
      </div>
       <div class="col-md-4 p-2">
        <%= image_tag "Dwain02.jpg", class:"img-fluid" %>
      </div>
       <div class="col-md-4 p-2">
        <%= image_tag "Dwain03.jpg", class:"img-fluid" %>
      </div>
    </div>
  </div>


  <%= render 'components/milestones'%>