<!DOCTYPE html>
<html>
  <head>
    <title>Dwain</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <!--====== Bootstrap js ======-->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector: '.tinymce',
        plugins: 'lists link image table code help wordcount'
      });
    </script>
  </head>

    <body class="">
      <main class="">
        <div class="bg-gray-100 dark:bg-gray-900 dark:text-white text-gray-600 h-screen flex overflow-hidden text-sm">
          <% if coach_signed_in? %>
            <%= render 'coaches/sidebar' %>
            <%= render 'coaches/topbar' %>
          <% elsif user_signed_in? %>
            <%= render 'users/sidebar' %>
            <%= render 'users/topbar' %>
          <% else %>
            <%= render 'shared/default_navbar' %>
          <% end %>
          <div class="flex-grow overflow-hidden h-full flex flex-col">
            <%= yield %>
          </div>
        </div>
      </main>
</body>

</html>
