<!DOCTYPE html>
<html>
  <head>
    <title>Dwain</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
       <!--====== Bootstrap CSS ======-->
    <link rel="stylesheet" href="https://cdn.ayroui.com/1.0/css/bootstrap.min.css" />

    <!--====== Lineicons CSS ======-->
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="https://cdn.ayroui.com/1.0/css/starter.css" />
    <!--====== Bootstrap js ======-->
    <script src="https://cdn.ayroui.com/1.0/js/bootstrap.bundle.min.js"></script>
    <link href="https://unpkg.com/@webpixels/css/dist/index.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

    <body class="<%= cookies[:theme] %>">

      <main class="">
        <%= render 'layouts/nav'%>
        <%= yield %>
      </main>
        <%= render 'components/footer' %>
    </body>
</html>
