<!DOCTYPE html>
<html>
  <head>
    <title>Dwain</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <!--====== Starter CSS ======-->
    <script src="https://cdn.ayroui.com/1.0/js/tiny-slider.js"></script>
    <link rel="stylesheet" href="https://cdn.ayroui.com/1.0/css/tiny-slider.css" />

    <!--====== Bootstrap js ======-->
    <link href="https://unpkg.com/@webpixels/css/dist/index.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

    <body class="">

      <main class="">
        <%= yield %>
      </main>
    </body>
</html>
