<!DOCTYPE html>
<html>
  <head>
    <title>Dwain</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <!--====== Bootstrap js ======-->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>7
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/3mk5o23hkyrskem3znmtueksqvwmq3muu10fw1m90uiwvuru/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <script>
      tinymce.init({
        selector: '.tinymce',
        plugins: 'lists link image table code help wordcount'
      });
    </script>
  </head>

    <body class="">
      <main class="">
      <% if coach_signed_in? %>
        <div class="bg-gray-100 dark:bg-gray-900 dark:text-white text-gray-600 h-screen flex overflow-hidden text-sm">
          <%=render 'coaches/sidebar'%>
            <div class="flex-grow overflow-hidden h-full flex flex-col">
            <%=render 'coaches/topbar'%>
              <div class="flex-grow overflow-auto">
                <%= yield %>
              </div>
            </div>
          </div>
      <% elsif user_signed_in? %>
          <%=yield%>
      <% else %>
        <%=yield%>
      <% end %>
      </main>
</body>

</html>
